@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin: 0;
}

body {
  margin: 0;
}
.pro {
  text-decoration: underline;
}
.top-container {
  background-color: #e4f9f5;
}
.middle-container {
  width: 200px;
  height: 200px;
}
.bottom-container {
  width: 200px;
  height: 200px;
}
